.main{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: var(--container);
  position: relative;
}
.title{
  color: black;
  font-size: 30px;
  margin-bottom: 20px;
}
.containerGrid{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  @media (max-width: 750px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
  }
}