.header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--headerColor);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;

    transition: background 0.1s linear;

    -webkit-box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.2);
box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.2);
}