.header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--headerColor);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;

    transition: background 0.1s linear;

    -webkit-box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.2);
box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.2);
}
.container{
    width: var(--container);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.link{
    color: var(--white);
    font-size: 25px;
}
.logo{
color:var(--white);
font-size: 30px;
width: 90px;

-moz-user-select: none;
-khtml-user-select: none;
user-select: none;  
}
.block{
    width: 90px;
}