.preloader{
    width: 100%;
    height: calc(100vh - 86px);
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader{
    width: 200px;
    height: 200px;

}
.loader::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px; /* Ширина анимации */
    height: 60px; /* Высота анимации */
    border: 5px solid #7a7a7a; /* Цвет обводки анимации */
    border-top-color: #000; /* Цвет верхней обводки анимации */
    border-radius: 50%;
    animation: spin 1s linear infinite; /* Анимация вращения */
  }
  
  @keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
  }